@using Chinook.Core;
@using Chinook.Services.Interface;
@using System.Security.Claims;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">            
            <NavLink class="nav-link" href="/playlist/all">
                All Playlist
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@("/playlist/"+Constant.PlaylistId)">
                <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>My favorite tracks
            </NavLink>
        </div>
        @if (Playlist != null)
        {
            @foreach (var play in Playlist)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@("/playlist/"+play.PlaylistId)">
                        <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@play.Name
                    </NavLink>
                </div>
            }
        }

    </nav>
</div>

@code {
    [Inject] IUserPlaylistService UserPlayService { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<Chinook.ClientModels.Playlist> Playlist;
    private string CurrentUserId;

    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await GetUserId();

        await InvokeAsync(StateHasChanged);
        Playlist = await UserPlayService.GetAllUserPlaylist(x => x.UserId.Equals(CurrentUserId)
            && !x.Playlist.Name.Equals(Constant.MyFavTracks));
    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
